examples/n8n_flow_example_webhook.json
{
  "name": "Thistledown Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Local RAG AI Agent with Chat Interface",
        "height": 527,
        "width": 1069
      },
      "id": "fa65b16b-d9dd-4ee6-bd38-a534d3bec34d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8c82f67d-9436-4945-9a58-6c3a041d2ae5",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [60, 120],
      "webhookId": "4b3b1838-d6b3-447e-9d79-d0931eddb9f8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "id": "a85d7c6e-94b4-4aa5-983c-a82fc1e6a329",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 120],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoke_codegpt_agent_thistledown",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "df70d698-b5a0-4e96-b9b0-2c18564ae67b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [60, 300],
      "webhookId": "4a839da9-b8a2-45f8-bcaf-c484f9a5912d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.codegpt.co/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "CodeGPT-Org-Id",
              "value": "f2f944b1-eb90-4db2-b0a4-1dc7e315718c"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer sk-f58ceb69-58b7-46f7-9983-78393b1c7059"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agentId\": \"e29d69cf-fdb1-419f-877f-f47a2797a060\",\n  \"messages\": [\n    {\n      \"content\": \"{{ $json?.chatInput || $json.body.chatInput }}\",\n      \"role\": \"user\"\n    }\n  ],\n  \"format\": \"json\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 120],
      "id": "2c16a1ac-b032-4de6-a472-f4dec61a13b4",
      "name": "CodeGPT Agent: Ask to Wizard Thistledown Waggletuft"
    },
    {
      "parameters": {
        "jsCode": "const cleanOutput = $input.first().json.choices[0].message.content\n  .replace(/\\\\/g, '\\\\\\\\')      // escape backslashes\n  .replace(/\"/g, '\\\\\"')        // escape quotes\n  .replace(/\\n/g, '\\\\n');      // escape newlines\n\nreturn [\n  {\n    json: {\n      output: cleanOutput\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 120],
      "id": "74e98db3-4076-4f3f-9fe9-c78bb3b78fab",
      "name": "CodeGPT - Extract Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e88967dd-fabb-4f7e-8ff9-ed57f4811a4e",
      "name": "Mapping Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [260, 120]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Mapping Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Mapping Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeGPT Agent: Ask to Wizard Thistledown Waggletuft": {
      "main": [
        [
          {
            "node": "CodeGPT - Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeGPT - Extract Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapping Fields": {
      "main": [
        [
          {
            "node": "CodeGPT Agent: Ask to Wizard Thistledown Waggletuft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0cedb8e2-af1c-4459-99ec-9bdbb409740e",
  "meta": {
    "instanceId": "ad0fa6a680084aecee7371c3aad15b90dd164e9a13e6bfd51adf0aaf4353ae39"
  },
  "id": "iJnBc3wYFL4zJPkk",
  "tags": [
    {
      "name": "codegpt",
      "id": "ZpPqJGU4pP57JP6x",
      "createdAt": "2025-05-20T04:25:33.710Z",
      "updatedAt": "2025-05-20T04:25:33.710Z"
    }
  ]
}
